$primary: #477a83;
$secondary: #AAD7D9;
$info: #E5E1DA;

@import "../bootstrap/scss/bootstrap.scss";

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main-dashboard {
    height: 100vh;
    overflow-y: auto;
}

.brand-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    img {
        width: 220px;
    }
}

.sidebar-item-active {
    background-color: hsl(189,29.7%,50%) !important;
}

.sidebar-item {
    background-color: hsl(189,29.7%,40%) !important;

    &:hover {
        background-color: hsl(189,29.7%,50%) !important;
    }
}

.form-input {
    width: 14rem;
    height: 1.6rem;
    outline: none;
}

.form-btn {
    width: 5rem;
    height: 2.2rem;
}